#errorCatcher Echo
## forecast sampler skin for weewx - Copyright 2014 Matthew Wall
## $Id: iconic.html.tmpl 1612 2016-12-10 20:23:19Z mwall $
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>NWS Forecast</title>
  <link rel='stylesheet' type='text/css' href='forecast.css'/>
  <link rel='stylesheet' type='text/css' href='forecast_iconic.css'/>
  <style>
.location {
    font-size: 150%;
}
.current {
    font-size: 400%;
}
  </style>
</head>
<body>

<div class='location'>$station.location</div>
<div class='current'>$current.outTemp</div>

## settings can be specified different ways:
##   skin.conf - this is the normal way to specify settings
##   weewx.conf - use this to generate multiple variations of a single skin
##   within a template - when including the .inc multiple times

## this is the normal way of including.  change settings in skin.conf.
##include "forecast_iconic.inc"

## if you include multiple times, specify the settings in this file:
##set global $forecast_iconic_settings = dict()
##set global $forecast_iconic_settings['source'] = 'WU'
##set global $forecast_iconic_settings['num_days'] = 10
##set global $forecast_iconic_settings['orientation'] = 'vertical'
##include "forecast_iconic.inc"

#set global $forecast_iconic_settings = dict()
#set global $forecast_iconic_settings['source'] = 'NWS'
#set global $forecast_iconic_settings['num_days'] = 4
#set global $forecast_iconic_settings['orientation'] = 'horizontal'
#include "forecast_iconic.inc"

</body>
</html>
